:root {
  // White
  --color-white: hsl(0 0% 100%);

  // Teal
  --color-teal-50: hsl(171 41% 97%);
  --color-teal-100: hsl(178 45% 89%);
  --color-teal-200: hsl(179 44% 78%);
  --color-teal-300: hsl(181 41% 64%);
  --color-teal-400: hsl(183 35% 50%);
  --color-teal-500: hsl(183 43% 41%);
  --color-teal-600: hsl(185 44% 32%);
  --color-teal-700: hsl(185 41% 26%);
  --color-teal-800: hsl(186 37% 22%);
  --color-teal-900: hsl(186 32% 19%);
  --color-teal-950: hsl(188 45% 10%);

  // Gray
  --color-gray-50: hsl(0 0% 98%);
  --color-gray-100: hsl(240 5% 96%);
  --color-gray-200: hsl(240 2% 90%);
  --color-gray-300: hsl(240 2% 84%);
  --color-gray-400: hsl(240 2% 65%);
  --color-gray-500: hsl(240 1% 50%);
  --color-gray-600: hsl(240 2% 34%);
  --color-gray-700: hsl(240 2% 26%);
  --color-gray-800: hsl(240 1% 16%);
  --color-gray-900: hsl(240 2% 10%);
  --color-gray-950: hsl(0 0% 4%);

  // Red
  --color-red-50: hsl(0 86% 97%);
  --color-red-100: hsl(358 100% 94%);
  --color-red-200: hsl(359 100% 89%);
  --color-red-300: hsl(359 100% 82%);
  --color-red-400: hsl(358 97% 71%);
  --color-red-500: hsl(358 90% 60%);
  --color-red-600: hsl(358 77% 50%);
  --color-red-700: hsl(359 78% 42%);
  --color-red-800: hsl(359 74% 35%);
  --color-red-900: hsl(358 67% 31%);
  --color-red-950: hsl(358 80% 15%);

  // Green
  --color-green-50: hsl(131 65% 97%);
  --color-green-100: hsl(131 74% 93%);
  --color-green-200: hsl(131 71% 85%);
  --color-green-300: hsl(132 68% 73%);
  --color-green-400: hsl(132 62% 58%);
  --color-green-500: hsl(132 63% 50%);
  --color-green-600: hsl(132 69% 36%);
  --color-green-700: hsl(133 64% 29%);
  --color-green-800: hsl(133 58% 24%);
  --color-green-900: hsl(134 55% 20%);
  --color-green-950: hsl(135 73% 10%);

  // Yellow
  --color-yellow-50: hsl(54 100% 96%);
  --color-yellow-100: hsl(53 100% 89%);
  --color-yellow-200: hsl(53 100% 76%);
  --color-yellow-300: hsl(51 100% 64%);
  --color-yellow-400: hsl(48 100% 56%);
  --color-yellow-500: hsl(43 97% 50%);
  --color-yellow-600: hsl(37 99% 44%);
  --color-yellow-700: hsl(31 95% 37%);
  --color-yellow-800: hsl(28 86% 31%);
  --color-yellow-900: hsl(27 82% 26%);
  --color-yellow-950: hsl(26 97% 14%);
}
