:root {
  --shadow-sm:
    0 0 0 1px rgb(0 0 0 / 6%), 0 1px 2px -1px rgb(0 0 0 / 6%), 0 2px 4px 0 rgb(0 0 0 / 4%);
  --shadow-md:
    0 0 0 1px rgb(0 0 0 / 6%), 0 2px 4px -1px rgb(0 0 0 / 6%), 0 4px 6px 0 rgb(0 0 0 / 4%);
}

html.dark-mode {
  --shadow-sm: inset 0 0 0 1px rgb(255 255 255 / 8%);
  --shadow-md: inset 0 0 0 1px rgb(255 255 255 / 8%);
}
