:host {
  display: inline-flex;
  flex-shrink: 0;
  gap: var(--spacing-8);
  align-items: center;
  font-size: var(--font-size-xs);
  font-weight: 500;
  color: var(--color-fg-default);
  white-space: nowrap;
}

.status-dot-indicator {
  width: var(--spacing-6);
  height: var(--spacing-6);
  background-color: var(--status-dot-color);
  border-radius: var(--radius-full);
}

.status-dot-label {
  text-box: trim-both cap alphabetic;
}

:host([data-status='success']) {
  --status-dot-color: light-dark(var(--color-green-600), var(--color-green-400));
}

:host([data-status='error']) {
  --status-dot-color: light-dark(var(--color-red-600), var(--color-red-400));
}

:host([data-status='warning']) {
  --status-dot-color: light-dark(var(--color-yellow-600), var(--color-yellow-400));
}

:host([data-status='default']) {
  --status-dot-color: light-dark(var(--color-gray-400), var(--color-gray-300));
}
